In [1]:
#LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, 
#but returns the greater if one or both numbers are odd
    #lesser_of_two_evens(2,4) --> 2
    #lesser_of_two_evens(2,5) --> 5

def lesser_of_two_evens (a,b):
    
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [2]:
lesser_of_two_evens(2,4)

2

In [4]:
lesser_of_two_evens(9,5)

9

In [11]:
#ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    #animal_crackers('Levelheaded Llama') --> True
    #animal_crackers('Crazy Kangaroo') --> False
    
#def animal_crackers(ss):
#    lrt=ss.split()
#    if lrt[0][0] == lrt[1][0]:
#        return True
#    else:
#        return False
    
def animal_crackers(ss):
    lrt=ss.upper().split()
    return lrt[0][0] == lrt[1][0]

In [12]:
animal_crackers('Levelheaded llama')

True

In [14]:
animal_crackers('Crazy Kangaroo')

False

In [15]:
#Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
    #makes_twenty(20,10) --> True
    #makes_twenty(12,8) --> True
    #makes_twenty(2,3) --> False
    
def makes_twenty(a,b):
    return (a+b) == 20 or (a==20 or b==20)

In [19]:
makes_twenty(20,10)

True

In [20]:
makes_twenty(12,8)

True

In [21]:
makes_twenty(2,3)

False

In [26]:
#Write a function that capitalizes the first and fourth letters of a name
    #old_macdonald('macdonald') --> MacDonald
    
#def old_macdonald(s):
#    d = ''
#    for x,c in enumerate(s):
#        if x in (0,3):
#            d=d+c.upper()
#        else:
#            d=d+c
#    return d

def old_macdonald(s):
    a=s[:3]
    b=s[3:]
    return a.capitalize()+b.capitalize()

In [27]:
old_macdonald('macdonald')

'MacDonald'

In [32]:
#Given a sentence, return a sentence with the words reversed
    #master_yoda('I am home') --> 'home am I'
    #master_yoda('We are ready') --> 'ready are We'
    
#def master_yoda(str):
#    d=str.split()
#    d.reverse()
#    return " ".join(d)

def master_yoda(str):
    d=str.split()
    return " ".join(d[::-1])

In [34]:
master_yoda('I am home adi')

'adi home am I'

In [31]:
master_yoda('We are ready')

'ready are We'

In [40]:
#Given an integer n, return True if n is within 10 of either 100 or 200
    #almost_there(90) --> True
    #almost_there(104) --> True
    #almost_there(150) --> False
    #almost_there(209) --> True
    
def almost_there(n):
    if (90 <= n <= 110) or (190 <= n <=210):
        return True
    else:
        return False

In [41]:
almost_there(90)

True

In [42]:
almost_there(104)

True

In [43]:
almost_there(150)

False

In [44]:
almost_there(209)

True

In [45]:
almost_there(89)

False

In [37]:
#Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.
    #has_33([1, 3, 3]) → True
    #has_33([1, 3, 1, 3]) → False
    #has_33([3, 1, 3]) → False
    
def has_33(*args):
    fnd =0
    for x in args:
        for y in x:
            if y==3:
                fnd +=1
            elif fnd>1 and y!=3:
                fnd = fnd
            else:
                fnd=0
    if fnd>1:
        return True
    else:
        return False

In [38]:
has_33([1, 3, 3])

True

In [39]:
has_33([1, 3, 1, 3])

False

In [40]:
has_33([3, 1, 3])

False

In [44]:
has_33([1, 3, 3,1])

True

In [1]:
#Given a string, return a string where for every character in the original there are three characters
    #paper_doll('Hello') --> 'HHHeeellllllooo'
    #paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'
    
def paper_doll(ab):
    dd = ''
    for x in ab:
        dd=dd+x*3
    return dd

In [2]:
paper_doll('Hello')

'HHHeeellllllooo'

In [3]:
paper_doll('Adi')

'AAAdddiii'

In [8]:
#Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. 
#If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) 
#exceeds 21, return 'BUST'
    #blackjack(5,6,7) --> 18
    #blackjack(9,9,9) --> 'BUST'
    #blackjack(9,9,11) --> 19
    
def blackjack(a,b,c):
    if (a+b+c) <=21:
        return a+b+c
    elif (a+b+c) > 21 and 11 in (a,b,c):
        return (a+b+c) - 10
    elif (a+b+c) > 21:
        return 'BUST'

In [9]:
blackjack(5,6,7)

18

In [10]:
blackjack(9,9,9)

'BUST'

In [11]:
blackjack(9,9,11)

19

In [19]:
# Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the 
#next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
    #summer_69([1, 3, 5]) --> 9
    #summer_69([4, 5, 6, 7, 8, 9]) --> 9
    #summer_69([2, 1, 6, 9, 11]) --> 14
    
def summer_69(*args):
    cnt = 0
    for x in args:
        for y in x:
            if 6<=y<=9:
                cnt +=0
            else:
                cnt +=y
    return cnt

In [17]:
summer_69([1, 3, 5])

9

In [20]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [21]:
summer_69([2, 1, 6, 9, 11])

14

In [23]:
#Write a function that takes in a list of integers and returns True if it contains 007 in order
     #spy_game([1,2,4,0,0,7,5]) --> True
     #spy_game([1,0,2,4,0,5,7]) --> True
     #spy_game([1,7,2,0,4,5,0]) --> False
    
def spy_game(*args):
    cnt = 0
    for x in args:
        for y in x:
            if y == 0:
                cnt +=1
            
            if cnt == 2 and y==7:
                cnt = 7
                
    if cnt == 7:
        return True
    else:
        return False

In [24]:
spy_game([1,2,4,0,0,7,5])

True

In [25]:
spy_game([1,0,2,4,0,5,7])

True

In [26]:
spy_game([1,7,2,0,4,5,0])

False

In [30]:
#Write a function that returns the number of prime numbers that exist up to and including a given number
    #count_primes(100) --> 25

def count_primes(c):
    cnt = 0
    for x in range(2,c):
        if x%2 != 0 and x%3 != 0 and x%5 != 0 and x%7!=0 and x%11!=0 and x%13!=0 and x%17 !=0 and x%19 !=0 and x%23 !=0:
            cnt +=1
    return cnt

In [31]:
count_primes(100)

16